.header {
   height: 30%;
}

header {
      text-align: center;
      color: #556B2F;
    }

h1 {
	  font-family: 'Pacifico', cursive;
      font-size: 50px;
      margin: 5px;
    }

.header-image {
      width: 15%;
      height: 15%; 
    }

 .navigation-ul {
      padding: 10px;
      background: #556B2F;
    }


.navigation-ul li {
      display: inline;
      padding: 0px 10px 0px 10px;
      margin: 0 20px;
    }

.navigation-ul li a {
      color: white;
      font-family: verdana;
 }

.all-content {
    height: 70%;
}

 .blog-text-area {
 	width:75%;
 	float:left;
 }

.blog-text-area article {
  margin: 15px 45px 15px 15px;
}

 a.blog-title { 	
 	font-family: 'Oswald', sans-serif;
 	color: black;
 	text-decoration: none;
 }

.date {
   color: gray;
}

 .paging li{
 	display: inline;
 }

.prev a {
   float: left;
   margin-left: -40px;
}

.prev-disabled a {
   float: left;
   text-decoration: none;
   margin-left: -40px;
}

.next a {
   float: right;
}

.next-disabled a {
   float: right;
   text-decoration: none;
}

.social-media-and-archive {
	width:25%;
	float:left;
}

.social-media-and-archive ul{
  margin-left: -40px;
}

.icon-list {
	display: inline;
}

.other-works-link {
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  color: #556B2F;
}

.other-works {
  border-radius: 5px;
  border: solid 2px #556B2F;
  background-color: ivory;
  height: 100px;
  text-align: center;
}

.social-media-icon {
	height: 30px;
	width: 30px;
	border-radius: 5px;
	padding: 0;
}

h3 {
   font-family: 'Oswald', sans-serif;
}

.archive-list li {
  margin-left: 20px;
}

 .footer {
  font-family: verdana;
 	text-align:center;
  clear:both;
 }