p {
	font-family: verdana;
	font-size: 1em;
	margin: 0 2.5%;
}

.projects a {
	text-decoration: none;
	color: black;
	width:45%;
	margin: 0.5% 2.5%;
}

#red, #yellow, #purple {
	float:left;
	height:200px;
	-webkit-box-sizing:border-box;
	box-sizing: border-box;
}

#yellow h1 {
	font-size: 3em;
	color: yellow;
}

#red h1 {
	font-size: 3em;
	color: red;
}

#purple h1 {
	font-size: 3em;
	color: purple;
}

#yellow:hover {	
	border:solid 5px yellow;
	border-radius: 5px; 
}

#red:hover {
	border:solid 5px red;
	border-radius: 5px; 
}

#purple:hover {
	border:solid 5px purple;
	border-radius: 5px; 
}

@media screen and (max-width: 450px) {
	#yellow h1 {
		font-size: 1em;
		color: yellow;
	}

	#red h1 {
		font-size: 1em;
		color: red;
	}

	#purple h1 {
		font-size: 1em;
		color: purple;
	}

	p {
		font-size: 0.75em;
	}
}

@media screen and (max-width: 700px) {
	#yellow h1 {
		font-size: 2em;
		color: yellow;
	}

	#red h1 {
		font-size: 2em;
		color: red;
	}

	#purple h1 {
		font-size: 2em;
		color: purple;
	}

	p {
		font-size: .95em;
	}
}